Repository commonalityco/commonality, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alec-chernicki, @package-team, @app-team, @tooling-team

test: constraint-results
  packages/constraints/ui-constraints/src/constraint-results.test.tsx
  packages/constraints/ui-constraints/src/constraint-results.tsx
Owners: @package-team

test: more test coverage for constraint results
  apps/workshop/tailwind.config.js
  packages/constraints/ui-constraints/src/constraint-results.test.tsx
  packages/constraints/ui-constraints/src/constraint-results.tsx
Owners: @app-team, @package-team

refactor: make constraint-results more readable
  packages/constraints/ui-constraints/src/constraint-results.tsx
Owners: @package-team

feat: constraints dialog search
  packages/constraints/ui-constraints/src/constraints-dialog-content.tsx
  packages/constraints/ui-constraints/src/graph-header.tsx
Owners: @package-team

revert: constraint-results refactor
  packages/constraints/ui-constraints/src/constraint-results.tsx
  packages/constraints/utils-constraints/src/styles/node.ts
Owners: @package-team

feat: improve studio welcome screen
  apps/commonality/src/cli/commands/studio.ts
Owners: @app-team

test: remove emoji prefix
  apps/commonality/test/integration/studio.test.ts
Owners: @app-team

refactor: clear spinner before showing installation prompt
  apps/commonality/src/cli/commands/studio.ts
Owners: @app-team

fix: show missing dep when force installing
  apps/commonality/src/cli/commands/studio.ts
Owners: @app-team

chore: add changeset
  .changeset/eighty-news-punch.md
Owners: @alec-chernicki

test: update viewable url string
  apps/commonality/test/integration/studio.test.ts
Owners: @app-team

chore: update workflow file
  .github/workflows/release.yml
Owners: @alec-chernicki

.github/CODEOWNERS:

* @alec-chernicki
packages/ @package-team
apps/ @app-team
tooling/ @tooling-team
